#top-button1{
    width: 90px;
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 90%;
    background: #0000ff;
    color: #fff;
    float: right;
    margin:  5px ;
    font-family: Arial, Helvetica, sans-serif;
   }
   #top-button2{
       width: 90px;
       padding: 10px;
       cursor: pointer;
       font-weight: 500;
       font-size: 90%;
       background: #0000ff;
       color: #fff;
       float: right;
       margin:  5px ;
       font-family: Arial, Helvetica, sans-serif;
      }
  #pageTitle{
    font-family: 'Montez', cursive;
      font-size: 50px;
      color: #112fb4;
      margin: auto;
      text-decoration: none;
      margin: 10px 10px 0px 10px;
      }
.subText{
  font-family:'Ubuntu Mono';
        margin-top: 0;
        margin: 0 0 0px 10px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.Sign-Up-Button
 {
   width: 100% ;
   background-color: #4caf50 ;

 }
 .Sign-Up-Button:hover
 {
   background-color: orangered;
 }

 .close {
   color: #aaaaaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }

 .close:hover,
 .close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
 }
