.bottombutton1
{
      width: 100px;
      padding: 10px;
      cursor: pointer;
      font-weight: bold;
      font-size: 90%;
      background:#cfb53b;
      color: black;
      margin: 10px 10px 0px 0px;
      font-family: Arial, Helvetica, sans-serif;
      position: relative ;
      top : 180px  ;
}
.bottombutton2
{
      width: 100px;
      padding: 10px;
      white-space: nowrap;
      text-align: center;
      cursor: pointer;
      font-weight: bold;
      font-size: 90%;
      background:#cfb53b;
      color: black;
      margin: 10px 10px 0px 0px;
      font-family: Arial, Helvetica, sans-serif;
      position: relative ;
      top : 180px  ;
}
body{
    background: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin: 0 !important;
    background-size: 100% cover!important;
    overflow:hidden;
    display: block;
 }

 .create-btn
  {
    width: 100% ;
    background-color: #4caf50 ;
  }
.form-style textarea{
     border: none;
      outline: none;
      background-color: #f1f1f1;
      display: block;

  }
h4
{
  font-family: "Times New Roman";
  margin-bottom:2px;
  font-weight:normal;
}
