.post {
    position: relative;
    width: 40%;
    background: #fff;
    box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px;
    border-radius: 15px;
    overflow: scroll;
}

.post-left {
    width: 15%;
    max-width: 15%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: #000;
    overflow: auto;
}

.post-content {
    width: 75%;
    display: table-cell;
    text-align: left;
    background-color: #E8E8E8;
    color: #000000;
    border-radius: 0 15px 15px 0;
    padding: 0 20px;
}

.post-title{
    text-align: left;
    font-family: 'Times';
    font-weight: normal;
    color: gray;
    font-size: 23px;
    overflow: auto;
    margin-bottom:2px;


}

.post-more {
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 30px;
}

.post-desc{
    height: 85px;
    margin-bottom: 0 !important;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    background-color: #ffeedd;
    background-size: 2000% 2000%;
}

.allPostsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post-trash {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* The Modal (background) */
.trash-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.trash-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    text-align: center;
}

.trash-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trash-modal-button-no {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 45%;
}

.trash-modal-button-yes {
    background-color:  #f44336; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 45%;
}
